# Visual Studio code settings
.vscode

# IntelliJ settings
.idea/

# Runtime images
in.jpg
vision-api/output.png
backend/input_images
backend/temp_images
frontend/image

# Yarn errors
yarn-error.log

# Env settings
.env

# CoreNLP file
stanford-corenlp-full-2018-02-27*
