.App {
  text-align: center;
  min-height: 100vh;
}

.App-welcome {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.App-welcome .welcome-text {
  color: #eb575d;
  font-family: 'Pacifico', cursive;
  padding: 0 20px 0 20px;
  font-size: 15vh;
}

.App-welcome .App-description {
  color: #666666;
  font-family: 'Lato', sans-serif;
  font-size: 4vh;
  padding: 10px;
}

.App-welcome .welcome-bottom {
  background: #eb575d;
  height: 1vh;
  align-self: flex-end;
}

.App-main {
  padding: 10px;
  color: white;
  background: #141414;
  min-height: 100vh;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;
}